@page
@model E_Commerce.Pages.AboutUs.AboutUsModel
@{
}


<div>
    <h1 style="text-align: center">Who Are We</h1>
    <p style="font-size:x-large; text-align:justify; padding:65px;">
        Electronics center is an online store for electronic devices, This project began in May 2022
        and has a wide variaty of products and devices where you can search and view and decide on what
        to buy!

    </p>
</div>






<div style=" align-content:center;">
    <h1 style="text-align: center">A Project By:</h1>
    <div>
    <img src="https://avatars.githubusercontent.com/u/98953541?v=4" alt="Laith Al-Alamat" style="width:200px" />
        <h2>Laith Al-Alamat</h2>
        <p>Team Member</p>
        <p>laithalamat4@gmail.com</p>
        <br>
        <button>
            <a href="mailto: laithalamat4@gmail.com">Contact</a>
        </button>
    </div>


    <div>
    <img src="https://avatars.githubusercontent.com/u/98949211?v=4" alt="Osama Al-Zaghal" style="width:200px" />
        <h2>Osama Al-Zaghal</h2>
        <p>Team Member</p>
        <p>osama.alzaghal@gmail.com</p>
        <br>
        <button>
            <a href="mailto: osama.alzaghal@gmail.com">Contact</a>
        </button>
    </div>
</div>


