@page
@model E_Commerce.Pages.Cart.CheckOutModel
@{
}

<h2>Thank you for your purchase!</h2>
<h2>You've been sent an email confirmation</h2>
<form method="get">

    <button asp-page="/Categories/Categories" type="submit">Return to home page</button>
    </form>
