@page
@model E_Commerce.Pages.Cart.CheckOutModel
@{
}

<h2 style="text-align: center">Thank you for your purchase!</h2>
<br>
<h2 style="text-align: center">You've been sent an email confirmation</h2>
<form method="get">

    <button asp-page="/Categories/Categories" type="submit">Return to home page</button>
    </form>
