@using E_Commerce.Models
@model List<Cart>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<table>
    <tr>
        <th>CartID</th>
        <th>UserID</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Index" asp-route-cartID=@item.ID asp-route-userID=@item.UserID>
                    @item.ID @item.UserID
                </a>
            </td>
        </tr>
    }
</table>