@using E_Commerce.Models
@model List<Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<button>
    <a href="http://localhost:7231/Category/Add" class="headertag">Add Category</a>
</button>

<table class="styled-table">
    <tr>
        <th>CategoryID</th>
        <th>CategoryName</th>
        <th>Description</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Category" asp-action="ProductsInCategory" asp-route-id=@item.ID>
                    @item.ID @item.Name @item.Description <a href="http://localhost:7231/Category/Delete?id=@item.ID" class="headertag">Delete</a>
                </a>
            </td>
        </tr>
    }
</table>