@using E_Commerce.Models
@model List<Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<table class="styled-table">
    <tr>
        <th>CategoryID</th>
        <th>CategoryName</th>
        <th>Description</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Index" asp-route-cartID=@item.ID asp-route-userID=@item.Name>
                    @item.ID @item.Name @item.Description <a href="http://localhost:7231/Category/Update?id=@item.ID" class="headertag">Edit</a>
                </a>
            </td>
        </tr>
    }`
</table>