@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>This is the auth index</h2>
<form method="post" action="/auth/authenticate">
    <label>Name:</label>
    <input name="UserName" />
    <label>Password:</label>
    <input name="Password" />
    <button type="submit"> Login </button>

</form>
<label>You don't have an accout? SignUp now for free!</label>
<button>
    <a href="http://localhost:7231/Auth/SignUp" class="headertag">SignUp</a>
</button>
<div asp-validation-summary="All"></div>